<div class="container-fluid">
  <div class="col-12">
    <h1 class="text-center"><i class="fa-solid fa-list"></i> {{ titulo }}</h1>

    <table class="table">
      <thead class="table-custom">
        <tr>
          <th scope="col" >Id</th>
          <th scope="col" class="text-center">Nombre</th>
          <th scope="col" class="text-center">Año de lanzamiento</th>
          <th scope="col" class="text-center">Capitulos</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let anime of animes">
          <!-- // inicia el for-->
          <th scope="row">{{ anime.id }}</th>
          <td class="text-center">{{ anime.title | uppercase }}</td>
          <!--usando pipe uppercase-->
          <td class="text-center">{{ anime.year }}</td>
          <td class="text-center">{{ anime.episodes }}</td>
          <!-- length da el numero de elementos que tiene un array-->
          <td class="text-center">
            <a routerLink="/anime/{{ anime.id }}" class="btn btn-action"
              ><i class="fa-solid fa-circle-right"></i
            ></a>
          </td>
        </tr>
        <!--// fin de tr y ciclo for-->
      </tbody>
      <tfoot>
        <tr>
          <td><b> Total de animes mostrados:</b></td>
          <td colspan="4" style="color: purple;">
            <i class="fa-solid fa-file"></i> {{ animes.length }}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
